/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
}

:root {
  --color-back-primary: #fff;
  --color-back-secondary: #f1f1f1;
  --color-back-footer: #1a1a1a;
  --color-accent: #27ae60;
  --color-heading: #1a1a1a;
  --color-text-primary: #484848;
  --color-text-secondary: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito Sans', sans-serif;
*/

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

/* Typography */
h1,
h2,
h3,
h4 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  margin: 0;
}

h1 {
  font-size: 3.6rem;
  color: #fff;
}

h2 {
  font-size: 3.6rem;
  text-align: center;
  margin-bottom: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.4rem;
}

h2,
h3 {
  color: var(--color-heading);
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 7.2rem;
  }
  h2 {
    font-size: 4.8rem;
  }
  h3 {
    font-size: 3.6rem;
  }
  h4 {
    font-size: 3rem;
  }
}

/* Icons */
.icon {
}

.icon--small {
  width: 30px;
  max-height: 40px;
}

.icon--medium {
  width: 40px;
  max-height: 60px;
}

.icon--big {
  height: 80px;
}

.icon-back {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 150px;
  width: 150px;
}

.icon-back .icon {
  height: 80px;
  margin: 0 auto;
  max-height: 80px;
  max-width: 80px;
}

.icon-back--white {
  background-color: #fff;
}

/* Lists */
.list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  white-space: nowrap;
}

.list > li {
  border-bottom: 1px solid #252525;
  margin: 1rem 1.6rem 1rem 0;
  padding-bottom: 1rem;
}

.list > li a {
  color: #aaaaaa;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.8rem;
  transition: color 0.2s;
}

.list > li a:hover {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .list {
    display: flex;
    justify-content: space-between;
  }

  .list > li {
    border: none;
  }
}

/* Collapsible */
.collapsible {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.collapsible__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.collapsible-icon {
  cursor: pointer;
}

.collapsible-body {
  max-height: 0;
  opacity: 0;
  transition: all 0.2s;
  width: 100%;
}

.collapsible-expanded .collapsible-body {
  max-height: 100vh;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .collapsible {
    flex-wrap: nowrap;
  }

  .collapsible-icon {
    display: none;
  }

  .collapsible-body {
    max-height: 100vh;
    opacity: 1;
  }
}

/* Buttons */
.btn {
  background-color: var(--color-accent);
  border-radius: 40px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 1.4rem 3rem;
  transition: background-color 0.2s;
  white-space: nowrap;
}

.btn:hover {
  background-color: #4adc88;
}

.btn--large {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .btn {
    font-size: 2.4rem;
  }
}

/* Slide thumbs */
.thumb {
  border-radius: 50%;
  display: inline-block;
  height: 14px;
  margin: 0 0.3rem;
  width: 14px;
  cursor: pointer;
}

.thumb--dark {
  border: 2px solid #1a1a1a;
}

.thumb--light {
  border: 2px solid #fff;
}

.thumb--selected {
  background-color: var(--color-accent);
  border: 2px solid var(--color-accent);
}

@media screen and (min-width: 768px) {
  .thumb {
    width: 22px;
    height: 22px;
  }
}

/* Links */
.link {
  color: #1a1a1a;
  font-family: "Nunito Sans", sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  opacity: 0.5;
  transition: opacity 0.2s;
}

.link:hover {
  opacity: 1;
}

/* Inputs */

.input {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(72, 73, 74, 0.2);
  color: #1a1a1a;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  outline: 0;
  padding: 1rem 0;
  resize: none;
}

::placeholder {
  opacity: 0.5;
}

.input--large {
  width: 100%;
}

.input--area {
  border: 1px solid rgba(72, 73, 74, 0.2);
  padding: 1rem;
}

.form-item {
  margin: 3rem 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .form-item {
    text-align: left;
  }
}

/* Blocks */
.container {
  max-width: 1440px;
  margin: 0 auto;
}

.grid {
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 4rem;
}

@media screen and (min-width: 768px) {
  .grid-cols2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-cols3 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid-cols3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Navbar */
.navbar {
  padding: 3rem 2rem 0;
}

.navbar .collapsible {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.navbar-header {
  display: flex;
  align-items: center;
}

.navbar-header .icon {
  width: 30px;
  height: 32px;
}

.navbar-header span {
  flex-grow: 1;
  color: #fff;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
  margin-left: 1rem;
  text-transform: uppercase;
}

@media screen and (min-width: 992px) {
  .navbar {
    padding: 4rem 10rem 0;
  }

  .navbar-header span {
    font-size: 2.4rem;
    margin-left: 3rem;
  }

  .navbar-header .icon {
    width: 40px;
  }
}

/* Intro */
.intro{
background-color: var(--color-back-primary);
padding: 4rem;
}

.intro__image {
  width: 100%;
  padding: 2rem;
}

.intro__heading {
  color: var(--color-heading);
}

.intro__body {
  margin-left: 2rem;
}

.intro__content {
  margin-top: 2rem;
}

.intro__item {
  align-items: center;
  display: flex;
  margin-top: 2rem;
}

.intro__title {
  color: var(--color-heading);
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  margin-left: 1rem;
  cursor: pointer;
  transition: .2s;
}

.intro__title:hover{
  transform: scale(1.1);
}

@media screen and (min-width: 992px) {
  .intro__title {
    font-size: 3rem;
    margin-left: 2rem;
  }

  .intro__content {
    margin-top: 6rem;
  }
}

/* Feature */
.block-feature {
  background-color: var(--color-back-secondary);
}

.block-feature.container{
  padding: 4rem 0;
}

.feature {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 380px;
  padding: 1rem 2rem;
  text-align: center;
}

.feature h4 {
  margin: 3rem auto 2rem;
  cursor: pointer;
  transition: transform .2s;
}

.feature h4:hover{
  transform: scale(1.1);
}

/* Plans */
.block-plan.container{
background-color: var(--color-back-primary);
padding: 6rem 0;
}

.block-plan .grid {
  row-gap: 4rem;
}

.plan {
  max-width: 360px;
  position: relative;
  cursor: pointer;
}

.plan:hover .plan__body {
  background-color: rgba(39, 174, 96, 0.6);
}

.plan:hover h4 {
  transform: scale(1.1);
}

.plan__body {
  align-items: center;
  background-color: rgba(39, 174, 96, 0.8);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  padding: 1rem;
  position: absolute;
  top: 0;
  width: 100%;
  transition: background-color 0.2s;
}

.plan h4 {
  color: var(--color-text-secondary);
  transition: transform 0.2s;
}

.plan__info {
  color: var(--color-text-secondary);
  text-align: center;
}

/* Subscribe */
.subscribe {
  background-position-x: center;
  background-position-y: 85%;
  background-repeat: no-repeat;
  background-size: contain;
  background: url("../images/subscribe.jpg");
}

.subscribe__content {
  align-items: center;
  background-color: rgba(26, 26, 26, 0.7);
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 3rem 2rem 6rem;
  width: 100%;
}

.subscribe span {
  color: #fff;
  font-family: "Nunito Sans", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.subscribe .input {
  border-bottom: 2px solid rgb(114, 115, 116);
  margin: 3rem auto;
}

@media screen and (min-width: 768px) {
  .subscribe__content {
    flex-direction: row;
    padding: 6rem;
  }

  .subscribe .input {
    margin: 3rem;
  }
}

@media screen and (min-width: 992px) {
  .subscribe span {
    white-space: nowrap;
  }
}

/* Contact */
.block-contact.container{
  background-color: var(--color-back-primary);
  padding: 6rem 0;
}

.contact-map {
  /* width: 100%; */
  max-width: 555px;
}
.contact__item {
  display: flex;
  flex-direction: column;
  margin: 4rem 0;
}

.contact__info {
  display: flex;
  flex-direction: column;
}

.contact-detail {
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  margin-top: 2rem;
  margin-right: 2rem;
  white-space: nowrap;
}

.contact-detail--wrap {
  white-space: unset;
}

.contact-form form {
  max-width: 555px;
}

@media screen and (min-width: 768px) {
  .contact-location {
    order: 1;
  }

  .block-contact .grid {
    align-items: start;
  }

  .contact-form form .form-item:first-child {
    margin-top: 0;
  }

  .contact__info {
    flex-direction: row;
    max-width: 555px;
  }
}

/* Footer */
.block-footer .collapsible-icon {
  display: none;
}

.block-footer .collapsible-body {
  max-height: 100vh;
  opacity: 1;
}

.block-footer .collapsible__header {
  justify-content: center;
}

.block-footer .collapsible {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.block-footer .collapsible__header span {
  font-size: 2.4rem;
}

.block-footer .collapsible-body {
  margin-top: 4rem;
}

@media screen and (min-width: 768px) {
  .block-footer .collapsible-body {
    margin-top: 0;
  }

  .block-footer .collapsible__header {
    justify-content: space-between;
  }
}

/* Banner */
.block-banner .container {
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background: url("../images/banner.jpg");
  height: 700px;
}

.banner-content {
  background-color: rgba(26, 26, 26, 0.9);
  height: 100%;
  width: 100%;
}

.block-banner .collapsible {
  position: relative;
}

.block-banner .collapsible-body {
  position: absolute;
  right: 50px;
  width: 50%;
}

.block-banner .list > li {
  margin-bottom: 0.5rem;
  margin-top: 0;
  padding-bottom: 0.5rem;
}

.banner-content {
  position: relative;
}

.banner-body {
  bottom: 20px;
  padding: 0 3rem;
  position: absolute;
  text-align: center;
  width: 100%;
}

.banner-info {
  color: #fff;
  display: block;
  font-family: "Nunito Sans", sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  margin: 6rem auto 8rem;
}

.banner-body .btn {
  margin-bottom: 10rem;
}

@media screen and (min-width: 768px) {
  .block-banner .collapsible {
    position: unset;
  }

  .block-banner .collapsible-body {
    position: unset;
    width: 100%;
  }
}

/* Cards */
.card {
  max-width: 360px;
  min-width: 280px;
  background-color: var(--color-back-secondary);
  text-align: center;
}

.card-image {
  width: 100%;
}

.card-header{
  padding: 2rem;
  text-align: left;
}

.card-details {
  padding: 2rem 2rem;
  border-top: 2px solid #cfcfcf;

}
.card-detail {
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  display: block;
  padding: 2rem;
  border-bottom: 2px solid #cfcfcf;
  margin-bottom: 1rem;
}

.card .btn {
  margin-top: 3rem;
}

@media screen and (min-width: 768px) {
  .card-detail {
    font-size: 2.4rem;
  }
}

/* Profile */
.profile {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.profile__image {
  width: 140px;
  border-radius: 50%;
}

.profile__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.profile__title {
  color: var(--color-heading);
  display: inline-block;
  font-family: "Nunito Sans", sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
}

.profile__description {
  color: var(--color-accent);
  display: inline-block;
  font-size: 1.8rem;
  margin-top: 0.8rem;
}

@media screen and (min-width: 768px) {
  .profile {
    align-items: center;
    flex-direction: row;
  }

  .profile__image {
    width: 100px;
  }

  .profile__title {
    font-size: 3rem;
  }

  .profile__description {
    font-size: 2.4rem;
  }

  .profile__content {
    align-items: flex-start;
    margin-left: 2rem;
    margin-top: 0;
  }

  .profile__description {
    margin-top: 0.4rem;
  }
}

/* Blogs */
.blog{
  width: 260px;
  min-width: 260px;
    text-align: center;
  margin: 0 2rem;
}

.blog__image {
  width: 100%;
}

.blog__heading {
  margin: 2rem .5rem;
}

.blog__content {
  margin: auto 2rem;
}

/* Testimonial */
.testimonial {
  text-align: center;
}

.testimonial__header {
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
}

.testimonial__author,
.testimonial__title {
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  display: none;
}

.testimonial__author {
  color: var(--color-heading);
  font-size: 3rem;
}

.testimonial__title {
  color: var(--color-text-primary);
  font-size: 2.4rem;
}

.testimonial__body{
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .testimonial__author,
  .testimonial__title {
    display: block;
  }

  .testimonial__body{
    width: 60%;
  }
}

/* Block cards*/
.block-card .container{
  padding:6rem 6%;
  text-align: center;
  background-color: var(--color-back-primary);
}

.block-card .grid{
  display: none;
}

.block-card .link{
  display: none;
  margin-top: 3rem;
}

.block-card .slide-thumbs{
  margin-top: 3rem;
}

.block-card .card{
  margin: 0 auto;
}

@media screen and (min-width:768px) {
  .block-card .grid{
    display: grid;
  }

  .block-card .link{
    display: inline-block;
  }

  .block-card .slide-thumbs{
    display: none;
  }

  .block-card .container>.card{
    display: none;
  }

  .grid-cols3{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width:992px){
  .grid-cols3{
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Profiles */
.block-profile .container{
  padding:6rem 6% ;
  text-align: center;
  background-color: var(--color-back-secondary);
}

.block-profile .grid{
  display: none;
}

.block-profile .slide-thumbs{
  margin-top: 3rem;
}

@media screen and (min-width:768px) {
  .block-profile .grid{
    display: grid;
  }

  .block-profile .slide-thumbs{
    display: none;
  }

  .block-profile .container>.profile{
    display: none;
  }

  .grid-cols3{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width:992px){
  .grid-cols3{
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Testimonial Block*/
.block-testimonial {
  text-align: center;
}

.block-testimonial .container{
  background-color: var(--color-back-secondary);
  padding:40px 6% 30px;
}


.testimonial-image{
  border-radius: 50%;
  border: 2px solid var(--color-accent);
  margin: 0 1rem 3rem;
}

.testimonial-images{
  display: none;
}

.img-overlay{
  position: relative;
  margin: 0 1rem 3rem;
  cursor: pointer;
}

.img-overlay img{
  border-radius: 50%;
  display: block;
  border: 2px solid transparent;
}

.img-overlay .overlay{
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  background-color: rgba(26,26,26,.7);
  top: 0;
  left: 0;
  border-radius: 50%;
  transition: background-color .2s;
}

.img-overlay .overlay:hover{
  background-color: rgba(26,26,26,0);
}

.img-overlay:hover img{
  border: 2px solid var(--color-accent);
}

.img-overlay.selected img{
  border: 2px solid var(--color-accent);
}

.img-overlay.selected .overlay{
  background: none;
}

@media screen and (min-width:768px){
  .block-testimonial .slide-thumbs{
    display: none;
  }

  .testimonial-image{
    display: none;
  }

  .testimonial-images{
    display: flex;
    justify-content: center;
  }
}

/* Block Blog*/

.block-blog{
  text-align: center;
}

.block-blog .container{
  background-color: var(--color-back-primary);
  padding: 6rem 0;
}

.blog__body{
  overflow: hidden;
cursor: grab;
margin-bottom: 3rem;
}

.blog__slider{
  
  display: flex;
  margin: 4rem auto;
}
