<section class="block-profile">
    <div class="container">
      <h2>Teachers</h2>
      <div class="grid grid-cols3">
        <div class="profile">
          <img src="./images/Profiles/profile1.jpg" alt="" class="profile__image" />
          <div class="profile__content">
            <span class="profile__title">Velvet Vachon</span>
            <span class="profile__description">Design Head</span>
          </div>
        </div>
        <div class="profile">
          <img src="./images/Profiles/profile2.jpg" alt="" class="profile__image" />
          <div class="profile__content">
            <span class="profile__title">Arlene Anello</span>
            <span class="profile__description">SEO Head</span>
          </div>
        </div>
        <div class="profile">
          <img src="./images/Profiles/profile3.jpg" alt="" class="profile__image" />
          <div class="profile__content">
            <span class="profile__title">SEO Head</span>
            <span class="profile__description">Photography Head</span>
          </div>
        </div>
        <div class="profile">
          <img src="./images/Profiles/profile4.jpg" alt="" class="profile__image" />
          <div class="profile__content">
            <span class="profile__title">Floyd Fukuda</span>
            <span class="profile__description">Marketing HOD</span>
          </div>
        </div>
        <div class="profile">
          <img src="./images/Profiles/profile5.jpg" alt="" class="profile__image" />
          <div class="profile__content">
            <span class="profile__title">Elena Cully</span>
            <span class="profile__description">UI/UX Designer</span>
          </div>
        </div>
      </div>
      <div class="profile">
        <img src="./images/Profiles/profile1.jpg" alt="" class="profile__image" />
        <div class="profile__content">
          <span class="profile__title">Velvet Vachon</span>
          <span class="profile__description">Design Head</span>
        </div>
      </div>
      <div class="slide-thumbs">
        <span class="thumb thumb--dark"></span>
        <span class="thumb thumb--dark"></span>
        <span class="thumb thumb--light thumb--selected"></span>
        <span class="thumb thumb--dark"></span>
    </div>
    </div>
  </section>