<div class="block-footer container">
    <nav class="navbar container">
        <div class="collapsible">
            <div class="collapsible__header">
                <div class="navbar-header">
                    <svg class="icon">
                        <use xlink:href="./icons/logo.svg#open-book"></use>
                      </svg>
                    <span>Education</span>
                </div>
                <img src="./icons/menu.svg" alt="" class="collapsible-icon">
            </div>
            <ul class="list collapsible-body">
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Courses</a></li>
                <li><a href="#">Teachers</a></li>
                <li><a href="#">Programs</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </nav>
</div>