<section class="block-blog">
    <div class="container">
      <h2>Blog</h2>
      <div class="blog__body">
        <div class="blog__slider">
          <article class="blog">
            <img src="./images/Blogs/blog1.jpg" alt="" class="blog__image" draggable="false"/>
            <h4 class="blog__heading">How to use music in education</h4>
            <p class="blog__content">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiu mod
              tempor incididunt ut labore e
            </p>
          </article>
  
          <article class="blog">
            <img src="./images/Blogs/blog2.jpg" alt="" class="blog__image" draggable="false"/>
            <h4 class="blog__heading">How to use music in education</h4>
            <p class="blog__content">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiu mod
              tempor incididunt ut labore e
            </p>
          </article>
  
          <article class="blog">
            <img src="./images/Blogs/blog3.jpg" alt="" class="blog__image" draggable="false"/>
            <h4 class="blog__heading">How to use music in education</h4>
            <p class="blog__content">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiu mod
              tempor incididunt ut labore e
            </p>
          </article>

          <article class="blog">
            <img src="./images/Blogs/blog4.jpg" alt="" class="blog__image" draggable="false"/>
            <h4 class="blog__heading">How to use music in education</h4>
            <p class="blog__content">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiu mod
              tempor incididunt ut labore e
            </p>
          </article>

          <article class="blog">
            <img src="./images/Blogs/blog5.jpg" alt="" class="blog__image" draggable="false"/>
            <h4 class="blog__heading">How to use music in education</h4>
            <p class="blog__content">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiu mod
              tempor incididunt ut labore e
            </p>
          </article>

          <article class="blog">
            <img src="./images/Blogs/blog6.jpg" alt="" class="blog__image" draggable="false"/>
            <h4 class="blog__heading">How to use music in education</h4>
            <p class="blog__content">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiu mod
              tempor incididunt ut labore e
            </p>
          </article>
          </div>
          </div>
      </div>
      <button class="btn">Read more</button>
    </div>
  </section>