<section class="block-testimonial">
    <div class="container">
      <h2>What client say</h2>
      <div class="testimonial-images">
        <div class="img-overlay">
          <img src="./images/Testimonials/client1.jpg" alt="">
          <span class="overlay"></span>
        </div>
        <div class="img-overlay">
          <img src="./images/Testimonials/client2.jpg" alt="">
          <span class="overlay"></span>
        </div>
        <div class="img-overlay selected">
          <img src="./images/Testimonials/client3.jpg" alt="" class="selected">
          <span class="overlay"></span>
        </div>
        <div class="img-overlay">
          <img src="./images/Testimonials/client4.jpg" alt="">
          <span class="overlay"></span>
        </div>
        <div class="img-overlay">
          <img src="./images/Testimonials/client5.jpg" alt="">
          <span class="overlay"></span>
        </div>
      </div>
      <img src="./images/Testimonials/client1.jpg" class="testimonial-image" alt="">
      <div class="testimonial">
        <p class="testimonial__body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
          veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip excas
        </p>
        <div class="testimonial__header">
          <span class="testimonial__author"> John Doe </span>
          <span class="testimonial__title"> CEO Smart Edu </span>
        </div>
      </div>
      <div class="slide-thumbs">
        <span class="thumb thumb--dark"></span>
        <span class="thumb thumb--dark"></span>
        <span class="thumb thumb--light thumb--selected"></span>
        <span class="thumb thumb--dark"></span>
    </div>
    </div>
  </section>