<section class="block-contact container">
    <h2>Contact</h2>
    <div class="contact-body grid grid-cols2">
      <div class="contact-location">
        <img src="./images/map.jpg" class="contact-map" alt="map" />
        <div class="contact__info">
          <div class="contact__item">
            <svg class="icon icon--small">
              <use xlink:href="./icons/spriteContact.svg#location"></use>
            </svg>
            <span class="contact-detail contact-detail--wrap"> LSE Houghton Street London WC2A 2AE UK. </span>
          </div>
          <div class="contact__item">
            <svg class="icon icon--small">
              <use xlink:href="./icons/spriteContact.svg#email"></use>
            </svg>
            <span class="contact-detail"> hello@gmail.com </span>
          </div>
          <div class="contact__item">
            <svg class="icon icon--small">
              <use xlink:href="./icons/spriteContact.svg#telephone"></use>
            </svg>
            <span class="contact-detail"> +44(20) 74057686 </span>
          </div>
        </div>
      </div>

      <div class="contact-form">
        <form>
          <div class="form-item">
            <input
              type="text"
              placeholder="Full Name"
              class="input input--large"
            />
          </div>
          <div class="form-item">
            <input
              type="text"
              placeholder="E mail"
              class="input input--large"
            />
          </div>
          <div class="form-item">
            <textarea
              class="input input--large input--area"
              rows="10"
              cols="60"
              placeholder="Message"
            ></textarea>
          </div>
          <div class="form-item">
            <button class="btn">Send</button>
          </div>
        </form>
      </div>
    </div>
  </section>