<section class="block-plan container">
    <h2>Programs</h2>
    <div class="plan-body grid grid-cols3">
      <div class="plan">
        <img src="./images/Plans/plan1.jpg" alt="" class="plan__image" />
        <div class="plan__body">
          <h4>Pre-college education</h4>
          <p class="plan__info">Lorem ipsum dolor sit, amet consectetur.</p>
        </div>
      </div>
      <div class="plan">
        <img src="./images/Plans/plan2.jpg" alt="" class="plan__image" />
        <div class="plan__body">
          <h4>Middle school</h4>
          <p class="plan__info">Lorem ipsum dolor sit, amet consectetur.</p>
        </div>
      </div>
      <div class="plan">
        <img src="./images/Plans/plan3.jpg" alt="" class="plan__image" />
        <div class="plan__body">
          <h4>High school</h4>
          <p class="plan__info">Lorem ipsum dolor sit, amet consectetur.</p>
        </div>
      </div>
      <div class="plan">
        <img src="./images/Plans/plan4.jpg" alt="" class="plan__image" />
        <div class="plan__body">
          <h4>International exchange</h4>
          <p class="plan__info">Lorem ipsum dolor sit, amet consectetur.</p>
        </div>
      </div>
      <div class="plan">
        <img src="./images/Plans/plan5.jpg" alt="" class="plan__image" />
        <div class="plan__body">
          <h4>Graduate programs</h4>
          <p class="plan__info">Lorem ipsum dolor sit, amet consectetur.</p>
        </div>
      </div>
      <div class="plan">
        <img src="./images/Plans/plan6.jpg" alt="" class="plan__image" />
        <div class="plan__body">
          <h4>Home education</h4>
          <p class="plan__info">Lorem ipsum dolor sit, amet consectetur.</p>
        </div>
      </div>
    </div>
  </section>