<section class="block-feature container">
    <h2>Features</h2>
    <div class="feature-body grid grid-cols3">
        <div class="feature">
            <span class="icon-back icon-back--white">
              <svg class="icon">
                <use xlink:href="./icons/spriteFeatures.svg#online_test"></use>
              </svg>
            </span>
            <h4 class="feature__header">Online Testing</h4>
            <p class="feature__content">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aliquam,
              deserunt nemo consequuntur soluta similique cum aut dolor quo molestias.
            </p>
          </div>
          <div class="feature">
            <span class="icon-back icon-back--white">
              <svg class="icon">
                <use xlink:href="./icons/spriteFeatures.svg#expert_professor"></use>
              </svg>
            </span>
            <h4 class="feature__header">Expert Professors</h4>
            <p class="feature__content">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aliquam,
              deserunt nemo consequuntur soluta similique cum aut dolor quo molestias.
            </p>
          </div>
          <div class="feature">
            <span class="icon-back icon-back--white">
              <svg class="icon">
                <use xlink:href="./icons/spriteFeatures.svg#trusted_certification"></use>
              </svg>
            </span>
            <h4 class="feature__header">Trusted Certifications</h4>
            <p class="feature__content">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aliquam,
              deserunt nemo consequuntur soluta similique cum aut dolor quo molestias.
            </p>
          </div>
          <div class="feature">
            <span class="icon-back icon-back--white">
              <svg class="icon">
                <use xlink:href="./icons/spriteFeatures.svg#scientific_research"></use>
              </svg>
            </span>
            <h4 class="feature__header">Scientific Research</h4>
            <p class="feature__content">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aliquam,
              deserunt nemo consequuntur soluta similique cum aut dolor quo molestias.
            </p>
          </div>
          <div class="feature">
            <span class="icon-back icon-back--white">
              <svg class="icon">
                <use xlink:href="./icons/spriteFeatures.svg#audio_video"></use>
              </svg>
            </span>
            <h4 class="feature__header">Audio Video course</h4>
            <p class="feature__content">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aliquam,
              deserunt nemo consequuntur soluta similique cum aut dolor quo molestias.
            </p>
          </div>
          <div class="feature">
            <span class="icon-back icon-back--white">
              <svg class="icon">
                <use xlink:href="./icons/spriteFeatures.svg#professional_course"></use>
              </svg>
            </span>
            <h4 class="feature__header">Professional Courses</h4>
            <p class="feature__content">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aliquam,
              deserunt nemo consequuntur soluta similique cum aut dolor quo molestias.
            </p>
          </div>
    </div>
</section>