<div class="intro grid grid-cols2">
    <img src="./images/intro.jpg" alt="" class="intro__image" />
    <div class="intro__body">
      <h3 class="intro__heading">Education</h3>
      <p class="intro__info">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
        pariatur autem atque aspernatur. Provident temporibus sapiente odit
        molestiae iure suscipit!
      </p>
      <div class="intro__content">
        <div class="intro__item">
          <svg class="icon icon--medium">
            <use xlink:href="./icons/spriteIntro.svg#learn_anything"></use>
          </svg>
          <span class="intro__title">Learn Anything</span>
        </div>
        <div class="intro__item">
          <svg class="icon icon--medium">
            <use xlink:href="./icons/spriteIntro.svg#speak_others"></use>
          </svg>
          <span class="intro__title">Talk To Other Instructors</span>
        </div>
        <div class="intro__item">
          <svg class="icon icon--medium">
            <use
              xlink:href="./icons/spriteIntro.svg#talk_to_instructor"
            ></use>
          </svg>
          <span class="intro__title">Speak With Others</span>
        </div>
      </div>
    </div>
  </div>