<form>
    <div class="form-item">
      <input type="text" placeholder="Full Name" class="input input--large" />
    </div>
    <div class="form-item">
      <input type="text" placeholder="E mail" class="input input--large" />
    </div>
    <div class="form-item">
      <textarea
        class="input input--large input--area"
        rows="10"
        cols="60"
        placeholder="Message"
      ></textarea>
    </div>
    <div class="form-item">
      <button class="btn">Send</button>
    </div>
  </form>